body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.timer-container {
    text-align: center;
    background-color: #34495e;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 450px;
    max-width: 100%;
    margin: 0 auto;
    position: relative; /* Added for positioning the revision number */
}

.timer-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.countdown-timer {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #ffffff;
}

.revision {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 0.8rem;
    color: #ccc;
}

.dark-text {
    color: #ffffff;
}

.controls {
    margin-top: 20px;
}

.control-button {
    font-size: 1rem;
    padding: 8px 20px;
    margin: 5px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.control-button:hover {
    background-color: #2980b9;
}

.blind-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.blind-input {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

label {
    font-size: 1rem;
    margin-right: 10px;
    color: #ffffff;
}

input[type="number"] {
    font-size: 1rem;
    padding: 5px;
    width: 60px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.input-label {
    font-size: 1rem;
    margin-right: 10px;
    color: #ffffff;
}

.input-field {
    font-size: 1rem;
    padding: 5px;
    width: 60px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
}
